.navButton{
    height: 70px;
    min-width: 200px;
    max-width: 400px;
    user-select: none;
    border: none;
    background-color: #DDEBC4;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color:black;
}

.navButton:hover{
    background-color:#F7D4C6;
}

.active {
    background-color: #DEAD9A;
    cursor: default;
}

.active:hover {
    background-color: #DEAD9A;
}

.navButtonText{
    height: 30px;
    text-align: center;
}