.navButton{
    height: 70px;
    border-radius: unset;
    min-width: 200px;
    max-width: 400px;
    user-select: none;
    border: none;

}

.click{
    background-color: #DDEBC4;
    cursor: pointer;
}

.click:hover{
    background-color:#E5D1A6;
}

.selected {
    background-color: #BBD885;
    cursor: default;
}
