.itemDetail{
    width: 700px;
    height: 500px;
    border: 2px solid black;
    border-radius: 30px;
    display:flex;
    flex-wrap: wrap;
    background-color: #E0F4BB;
    align-content: baseline;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.itemDetailDescripcion{
    margin-top:5px;
}

.itemDetailData{
    display:flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

.itemDetailFoto{
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.itemDetailFeatures{
    list-style-type: none;
    margin: 20px 20px 10px 10px;
    width: 230px;
    font-size: 0.8rem;
}

.itemDetailFeatures li {
    margin-top: 3px;
}

.itemFeatureCart{
    padding-left:50px;
    padding-top: 5px;
}

.verCarrito{
    width: 100px;
    height: 21px;
    color: black;
    border-radius: 8px;
    background-color: #AAC0BC;
}

.noStock{
    font-weight: bold;
}

.nombreProducto{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
}