*, body {
  width: 100%;
 }
.root{
  width: 100%;
  height:auto;
}
.App {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #F1F7E6 ;
}